@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Hind+Siliguri:wght@300&family=Space+Mono&display=swap');

body {
  background-color: rgb(253, 251, 251);
  font-family: Space Mono, monospace;
  color: rgb(187, 62, 3);
  font-size: 20px;
  line-height: 40px;
}

#cabecalho {
  width: 100%;
  border-bottom: 3px solid rgb(131, 125, 125);
  top: 0;
  margin-bottom: 10px;
  text-align: center;
  position: fixed;
}

#titulo {
  text-align: center;
}

#minha_foto {
  width: 300px;
  margin-top: 100px;
  margin-left: 800px;
  margin-right: 120px;
}

article {
  margin-top: 140px;
}

#tabela {
  border-collapse: collapse;
}

tr , th , td {
  border: 3px solid rgb(158, 152, 152);
}

td , th {
  padding: 5px;
  text-align: center;
}


.lado-direito {
  position: relative;
  display: inline;
  float: right;
  width: 40%;
  margin-top: -400px;
  margin-left: 1100px;
  text-align: center;
}

.lado-esquerdo {
  position: relative;
  float: left;
  display: inline;
  width: 40%;
  margin-top: 600px;
  margin-left: 20px;
  text-align: center;
}

#rodape {
  margin-top: 800px;
}
